
@font-face {
font-family: "Raleway Regular";
src: url("styles/fonts/Raleway Font/Raleway-Medium.ttf");
}

html {
    height: 95%;
}
body {
    font-family: "Raleway Regular", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: white;
    height: 100%;
    margin: 0;
}

#main_container {
    height: 100%;
    display: flex;
}

.menu {
    width: 110px;
    background: #dfe6e9;
    height: 100%;
    margin: none;
}

.menuTitle {
    height: 25px;
    text-align: center;
}

#leftMenu {
    float: left;
}

#leftMenuContainer {
    height: 450px;
    padding: 5px;
    border: solid 1.2px #b2bec3;
    border-radius: 2px;
    background-color: white;
}
#leftMenuContainer ul {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: white; */
}

#leftMenuContainer li {
    list-style: none;
    width: 94px;
    height: 50px;
    background: red !important;
    border: solid 1.2px #b2bec3;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
}

#rightMenu {
    float: right;
}

#container {
    background: white;
    width: 600px;
}
#slot_1_container {
    margin-left: 250px;
    margin-top: 200px;
    background-color: #dfe6e9;
    height: 70px;
    width: 114px;
}
.slot {
    background-color: white;
    border: solid 1.2px #b2bec3;
    border-radius: 10px;
    height: 50px;
    width: 94px;
    text-align: center;
    align-content: center;
}

.ui-state-highlight {
    background: yellow !important;
}
