
@font-face {
    font-family: "Raleway Regular";
    src: url("RalewayFont/Raleway-Medium.ttf");
}

html {
    height: 95%;
}
body {
    font-family: "Raleway Regular", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: white;
    height: 100%;
    margin: 0;
}

#main_container {
    height: 100%;
    display: flex;
}

.menu {
    width: 17.4%;
    background: #dfe6e9;
    height: 100%;
    margin: none;
}

.menuTitle {
    height: 25px;
    text-align: center;
}

#leftMenu {
    float: left;
}

#leftMenuContainer {
    height: 75%;
    padding: 25px;
    margin: 25px;
    border: solid 1.2px #b2bec3;
    border-radius: 2px;
    background-color: white;
}
#leftMenuContainer ul {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: white; */
}

#leftMenuContainer li {
    list-style: none;
    display: table-cell;
    width: 120px;
    height: 60px;
    background: #0984e3 !important;
    border: solid 1.2px #b2bec3;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    z-index: 3;
}

#rightMenu {
    float: right;
}

#container {
    background: white;
    width: 65.2%;
    overflow-x: scroll;
    overflow-y: scroll;
}
#slot_1_container {
    position: relative;
    left: 500px;
    top: 500px;
    background-color: #dfe6e9;
    height: 100px;
    width: 200px;
    display: table-cell;
    align-content: center;
    vertical-align: middle;
    padding: 5px;
}
.slot {
    background-color: white;
    border: solid 1.2px #b2bec3;
    border-radius: 10px;
    height: 60px;
    width: 120px;
    text-align: center;
    align-content: center;
}

.ui-state-highlight {
    background: #fdcb6e !important;
}

#sandbox {
    height: 1000px;
    width: 1000px;
    background-size: 30px 30px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.13) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.13) 1px, transparent 1px);
}
